.digitalgrid {
  width: 1336px;
  height: 470px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  .digital-center {
    height: 420px;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .digital-center-items {
      width: 25%;
      height: 100%;

      padding: 15px 15px 0 0;
      box-sizing: border-box;
      .digital-center-items-header {
        h2 {
          font-family: var(--font-family);
          font-size: 20px;
          margin-bottom: 10px;
        }
        p {
          font-family: var(--font-family);
          font-size: 12px;
          color: gray;
        }
      }
      .digital-center-items-body {
        display: flex;
        flex-flow: row wrap;
        .digital-center-items-body-image {
          width: 50%;
          padding: 10px;
          box-sizing: border-box;
          img {
            width: 130px;
            height: 130px;
          }
        }
      }
      .digital-center-items-footer {
        text-align: center;
        a {
          font-family: var(--font-family);
          font-size: 14px;
          text-decoration: none;
          color: #19bfdb;
          display: inline-block;
          margin-top: -10px;
        }
      }
    }
  }
}
.border-left {
  border-left: 1px solid rgb(238, 233, 233);
}
.border-top {
  border-top: 1px solid rgb(238, 233, 233);
}
.border-left-inner {
  border-left: 1px solid rgb(238, 233, 233);
}
